body {
  width: 100%;
  height: 100%;
  background-image: url("./bg.jpeg");
  background-size: cover;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  /* cursor: url('./ail7v-fe3ud-003.ico'), default; */
}
*{
  padding: 0%;
  margin: 0%;
  cursor: url('./text.ico'), default;
}
div{
  box-sizing: border-box;
}
button{
  font-size: large;
  color: white;
  opacity: 1;
}
.header{
  width: 100vw;
  height: 10vh;
  padding: 20px;
  text-align: end;
  border-bottom: 5px solid #fff;
}
.main{
  width: 100vw;
  height: 90vh;
}
.main .left{
  float: left;
  width: 70vw;
  height: 100%;

}
.main .right{
  float: left;
  width: 30vw;
  height: 100%;
  overflow: auto;
  padding-top: 20px;
  border-left: 5px solid #fff;
}
.rom-li{
  height: 50px;
  font-size: x-large;
  color: white;
  text-decoration: none;
  list-style: none;
  text-align: center;
  line-height: 50px;
  margin-top: 5px;
  padding: 0 50px;
}
.rom-li:hover{
 background-color:#FF6666 ;
  /* outline: 5px solid #FFCC00;  */
  /* transform: scale(1.2); */
  border-radius: 5px;
}
.select{
  background-color:#FF6666 ;
  /* outline: 5px solid #FFCC00;  */
  /* transform: scale(1.2); */
  border-radius: 5px;
}
.exit{
  background-color: cornflowerblue;
  padding: 10px;
  line-height: 50px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}
.exit:hover{
  opacity: 0.8;
  outline: 5px solid #CC0033; 
}
.right::-webkit-scrollbar {
  /*滚动条整体样式*/
  width : 15px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
  }
  .right::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius   : 10px;
  background-color: skyblue;
  background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
  );
  }
  .right::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #ededed;
  border-radius: 10px;
  }
  .photo{
    position: absolute;
    top:10%;
    text-align: center;
    width: 70%;
    height: 70%;
    padding-left:100px;
    padding-right:100px;
    padding-top: 100px;
  }
  .photo img{
    width: 100%;
  }
#info{
    color: white;
    font-size: x-large;
    position: absolute;
    top: 80%;
    font-weight: bold;
    text-align: center;
    width: 70%;
    height: 5%;
    line-height: 5vh;
  }
  #help{
    color: white;
    font-size: large;
    position: absolute;
    top: 85%;
    text-align: center;
    width: 70%;
    line-height: 5vh;
  }